<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Learn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <div padding *ngIf="stage === 'question'" class = "question">
      <h1>{{currentAsana.asana.image}}</h1>
    <button (click)="getAnswer()">Give me the answer!</button>
  </div>

  <div *ngIf="stage === 'answer'" class = "answer">
    <h1>{{currentAsana.asana.image}}</h1>
    <h1>{{currentAsana.asana.name}}</h1>

    <button (click)="next(true)">I knew it!</button>
    <button (click)="next(false)">Nope, didn't see that coming.</button>
  </div>

  <div *ngIf="stage === 'finishedForToday'" class = "finishedForToday">
      <p>You're done for today!</p>
  <button (click) = "addSixNewAsana()" *ngIf = "stillNewAsanaToAdd">Learn some new asana</button>
  <button (click) = "reset()" *ngIf = "!stillNewAsanaToAdd">Fresh Start?</button>
  </div>

  <div *ngIf="stage === 'finished'" class = "finished">
      <p>You've learned all asanas in this series!</p>
  <button (click) = "reset()">Reset and play again</button>
  </div>

</ion-content>
